.*
!.gitignore
!.gitattributes

*-
*.old
*.bak
*.swp
*.dpkg-dist
*.dpkg-old
*.dpkg-new

*.gz
*.tgz
*.bz2
# *.tgb

*.perm
*.prm
*.pem
*.cert
*.crt
*.gpg
/ssl/certs/
/ld.so.cache
/ssh/*key*

*.desktop

/X11/cursors
/X11/fonts

/xml
/sgml

/adjtime
/localtime

/resolv.conf

/mailcap

/blkid.tab

# mutt
!/.mutt
!/.mutt/*

# subl
!/.config

!/.xmodmap*
!/.xkeymap*
!/.keymaps*

!/.tmuxinator
!/.gbp.conf

!/.lldbinit
!/.*rc

!/.vagrant.d

!/.ctags*

!/.yamllint
!/.fehbg
!/.Xresources
