# https://wiki.archlinux.org/index.php/Power_management#USB_autosuspend
ACTION=="add", SUBSYSTEM=="usb", TEST=="power/control", ATTR{power/control}="auto"
